html,
body,
#root {
	min-height: 100vh;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: "Satoshi", sans-serif;
}

.dailyContribution:hover {
	background-color: #9dff00 !important;
}

a:-webkit-any-link:focus-visible {
	outline-offset: 1px;
}

a:focus-visible {
	outline: -webkit-focus-ring-color auto 1px;
}
